{% for link in links %}
    <div class="article">
        <h1 class="article-title">{{link.title}}</h1>
        <a class="article-link" href="/read/{{link.title}}">Read more...</a>
        <a data-article="{{link.url}}" class="fa fa-archive archive-article"></a>
        <a data-article="{{link.url}}" class="fa fa-tags category-article"></a>
        <a data-article="{{link.url}}" class="fa fa-times delete-article"></a>
    </div>
{% endfor %}